<footer class="footer">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h4>Adres</h4>
					<p>Bursa Uludağ Üniversitesi, İnegöl İşletme Fakültesi<br />İnegöl/BURSA</p>
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<h4>Bağlantı</h4>
					<div class="social-icons">
						<a href="" class="social-icon"><i class="fab fa-gmail"></i></a>
						<a href="" class="social-icon"><i class="fab fa-linkedin"></i></a>
						<a href="" class="social-icon"><i class="fab fa-github"></i></a>
					</div> <!-- end .social-icons -->
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<h4>İletişim</h4>
					<p>Tel: 0545 373 94 94<br />Mail: gkctprkl05@gmail.com</p>
				</div> <!-- end .col-sm-4 -->
			</div> <!-- end .row -->
		</div> <!-- end .container -->
	</div> <!-- end .footer -->
	<div class="bottom">Telif Hakları : AkademiQ.AI</div> <!-- end .bottom -->
</footer>