@model int

@if (Model > 0)
{
    <div class="flex items-center justify-center min-w-[20px] h-5 px-1.5 bg-pink-600 text-white text-[10px] font-bold rounded-full shadow-lg shadow-pink-200 animate-pulse">
        @Model
    </div>
}